<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% block titulo%}

    {% endblock %}

</head>
<body  style="background-color: #fff">
        <nav class="navbar navbar-expand-lg navbar navbar-dark" style="background-color: #2D0651;">
          <a class="nav-item mr-sm-5" href="{% url 'home' %}"><img src="{% static '../media/logo.png' %}" width="70" height="70" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav" >
              <li class="nav-item mr-sm-5">
                <a class="navbar-brand " href="{% url 'produto' %}" style="color: white;">Produtos<span class="sr-only">(página atual)</span></a>
              </li>
              <li class="nav-item mr-sm-5">
                <a class="navbar-brand" href="{% url 'relatorio' %}" style="color: white;">Relátorio</a>
              </li>
              <li class="nav-item mr-sm-5">
                <a class="navbar-brand" href="{% url 'duvida' %}" style="color: white;">Dúvidas<span class="sr-only">(página atual)</span></a>
              </li>
              <li class="nav-item mr-sm-5">
                <a class="navbar-brand" href="{% url 'logout' %}" style="color: white;">Sair</a>
              </li>
            </ul>
          </div>
        </nav>


    {% block content%}



    {% endblock %}

</body>
</html>