{% extends './static/html/base_externa.html' %}
{% load static %}

{% block titulo%}
     <title>Cadastro</title>
{% endblock %}

{% block content %}
         <h1>Cadastre-se</h1>
                <form method="POST" action="{% url 'cadastro' %}">{% csrf_token %}
                <div class="form-group" >
                    <input class="form-control" style="border-color: #AD77C2; border-radius: 40px;" type="text" id="nome" placeholder="Digite seu nome" name="nome" required>
                </div>
                <div class="form-group">
                    <input class="form-control" style="border-color: #AD77C2; border-radius: 40px;" type="email" id="email" placeholder="Ex.: aa@.com" name="email" required>
                </div>
                <div class="form-group">
                    <input class="form-control" style="border-color: #AD77C2; border-radius: 40px;" type="password" id="password" placeholder="Digite sua senha" name="senha" required>
                </div>
                <div class="text-right">
                    <button class="btn btn-light" style="background-color: #AD77C2 color: white;">Cadastrar</button>
                </div>
                <div class="text-left">
                    <button class="btn btn-warning" type="reset" style="color: white;">Limpar</button>
                </div>

                </form>

                {% for message in messages%}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error!</strong>{{message}}
                    </div>
                {% endfor%}
{% endblock %}

    <div id="myModal" class="modal">
        <div class="modal-content">
            <p id="successMessage">Cadastro realizado com sucesso</p>
            <button id="closeModal" class="btn btn-success">OK</button>
        </div>
    </div>
    <script>
        // Função para mostrar a janela modal quando a variável cadastro_sucesso for True
        function showModal() {
            var cadastroSucesso = "{{ cadastro_sucesso }}"; // Certifique-se de que a variável cadastro_sucesso seja passada para o contexto do template

            if (cadastroSucesso === "True") {
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }
        }

        // Função para fechar a janela modal e redirecionar para a página de login
        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            redirectToLogin();
        }

        // Função para redirecionar para a página de login
        function redirectToLogin() {
            window.location.href = "{% url 'login' %}"; // Substitua pelo URL correto
        }

        // Mostra a janela modal ao carregar a página
        window.onload = function () {
            showModal();
        };

        // Fecha a janela modal ao clicar no botão "OK"
        var closeModalButton = document.getElementById("closeModal");
        if (closeModalButton) {
            closeModalButton.addEventListener("click", function () {
                closeModal();
            });
        }
    </script>
