<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background-color: #AD77C2;">
    <div class="container " style="border-radius: 40px;" >
        <div class="row justify-content-center" style="margin-top: 10%; border-radius: 40px;">
            <div class="col-md-6" >
                <div class="card" style="border-radius: 40px;">
                    <div class="card-header" style="background-color: #fff; ">
                        <h1 class="text-center">Cadastre-se</h1>
                    </div>
                    <div class="card-body" >
                        <form method="POST" action="{% url 'cadastro' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Digite seu nome" name="nome" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Exp.: aa@.com" name="email" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Digite sua senha" name="senha" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Cadastrar</button>
                                <button type="reset" class="btn btn-warning">Limpar</button>
                            </div>
                            <br>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for message in messages %}
        <div class="alert" style="position: absolute; color: red; top: 80%; left: 49%;">
            <strong>Error!</strong> {{ message }}
        </div>
    {% endfor %}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p id="successMessage">Cadastro realizado com sucesso</p>
            <button id="closeModal" class="btn btn-success">OK</button>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Função para mostrar a janela modal quando a variável cadastro_sucesso for True
        function showModal() {
            var cadastroSucesso = "{{ cadastro_sucesso }}"; // Certifique-se de que a variável cadastro_sucesso seja passada para o contexto do template

            if (cadastroSucesso === "True") {
                var modal = document.getElementById("myModal");
                modal.style.display = "block";
            }
        }

        // Função para fechar a janela modal e redirecionar para a página de login
        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
            redirectToLogin();
        }

        // Função para redirecionar para a página de login
        function redirectToLogin() {
            window.location.href = "{% url 'login' %}"; // Substitua pelo URL correto
        }

        // Mostra a janela modal ao carregar a página
        window.onload = function () {
            showModal();
        };

        // Fecha a janela modal ao clicar no botão "OK"
        var closeModalButton = document.getElementById("closeModal");
        if (closeModalButton) {
            closeModalButton.addEventListener("click", function () {
                closeModal();
            });
        }
    </script>
</body>
</html>