
{% extends './static/html/base_interna.html' %}
{% load static %}
{% static '../media/logo.png' %}

{% block titulo%}
    <title>Dados do Produto</title>
{% endblock %}

{% block content %}
    <h1 >Detalhes do produto</h1>
    <div class="container">
            <div class="card m-3" style="width: 30rem; background-color: #E4E4E5">
                <img class="card-img-top" src="{{produto.foto.url}}" alt="Card image cap">
                <div class="card-body">
                    <p class="text-center"> R$: {{produto.preco}}</p>
                    <p class="text-center">Nome: {{produto.nome}}</p>
                    <p class="text-center">Tamanho: {{produto.tamanho}}</p>
                    <p class="text-center">Categoria: {{produto.categoria}}</p>
                    <p class="text-center">Descrição: {{produto.descricao}}</p>
                    <a href="/produto/?id={{ produto.id }}">
                        <button type="button" class="btn btn-warning">Alterar</button>
                    </a>
                    <a href="../excluir/{{produto.id}}/">
                        <button type="button" class="btn btn-danger">Excluir</button>
                    </a>
                </div>
                </a>
            </div>
    </div>
{% endblock %}

