{% extends './static/html/base_interna.html' %}
{% load static %}

{% block titulo%}
    <title>Dados do Produto</title>
{% endblock %}

{% block content %}
    <h1>Detalhes do produto</h1>
    <div class="container">
        <div style="justify-content: center; ">
            <img src="{{produto.foto.url}}" width="300px;" height="300px;" style="margin-top: 10px;">
        </div>

        <div class="container">
            <p><b>Nome: </b>{{produto.nome}}</p>
            <p><b>Categoria: </b>{{produto.tipo}}</p>
            <p><b>Data de Validade: </b>{{produto.data_validade}}</p>
            <p><b>Quantidade: </b>{{produto.quantidade}}</p>
            <a href="/produto/?id={{ produto.id }}">
                <button type="button" class="btn btn-warning">Alterar</button>
            </a>
            <a href="../excluir/{{produto.id}}/">
                <button type="button" class="btn btn-danger">Excluir</button>
            </a>

        </div>

    </div>
{% endblock %}