{% extends './static/html/base_interna.html' %}
{% load static %}

{% block titulo%}
    <title>Dúvida</title>
{% endblock %}

<style>
    .container img{
        justify-content: center;
    }
</style>

{% block content %}
       <div class="container">
           <h2 class="titulo"> Dúvidas Frequentes</h2>
           <h3>* COMO CADASTRAR UM PRODUTO??</h3>
           <p>Na aba PRODUTO temos o acesso ao cadastramento dos produtos do seu panfleto
            online. Para realizar o cadastro do produto preencha os campos necessários e
            anexe um arquivo (foto) do produto a ser vendido. Após todas as etapas concluídas
            clique em ADICIONAR.
            </p>
            
            <img src="../media/cadastrar_produto.jpg" alt="Alterar Ou Excluir Produto" width="500" height="500" style="align-self: center;">
            <p>
                pronto seu produto estará disponível no panfleto online.
            </p>
           <h3>* ALTERAÇÃO OU EXCLUSÃO:</h3>
           <img src="../media/alterar_excluir_produto.jpg" alt="Alterar Ou Excluir Produto" width="500" height="500">
           <p>No home onde os produtos está disponíveis, ao clicar em algum item será aberta a
            página para permitir a alteração ou exclusão da mercadoria.
            .</p>
            <p>Faça as alterações desejadas e confirme.
                Ou em excluir e confirme para excluir um produto.
            </p>
           
           <h3>* CONSULTAR UM PRODUTO:</h3>
           <img src="../media/consultar_produtos.jpg" alt="Consultar Produtos" width="500" height="500">
           <p>Caso queira realizar a busca de algum produto específico, o filtro está disponível no
            menu adicione o nome do produto a ser procurado. Você também poderá procurar
            um produto pela inicial ou categoria.
            </p>
            <h3>* GERAR PDF:</h3>
            <img src="../media/gerar_pdf_produto.jpg" alt="Gerar Pdf" width="500" height="500">
            <p>Para gerar o relatório dos produtos em PDF basta clicar em GERAR PDF, O PDF
                será gerado automaticamente e salvo no dispositivo.</p>
       </div>
{% endblock %}
