{% extends './static/html/base_interna.html' %}
{% load static %}

{% block titulo%}
    <title>Home</title>
{% endblock %}

{% block content %}
    <div class="content" >
        <form class="form-inline my-2 my-lg-0 border-2 m-2 p-2">
          <input class="form-control mr-sm-2" type="nome" id="nome" name="nome" placeholder="Nome do Produto" aria-label="Pesquisar">
          <button class="btn btn btn-outline-dark my-2 my-sm-0" type="submit">Pesquisar</button>
          <input class="form-control mr-sm-2" type="tipo" id="tipo" name="tipo" placeholder="Categoria do Produto" aria-label="Pesquisar">
          <button class="btn btn btn-outline-secondary my-2 my-sm-0" type="submit">Pesquisar</button>
        </form>

        <div class="gallery-container">
            <div class="container">
                <div class="row sm-4 border-1 m-2 p-2">
                    {% for p in produto %}
                    <div class="card m-3" style="width: 18rem; background-color: #E4E4E5">
                        <a href="../detalhes/{{p.id}}">
                        <img class="card-img-top" src="{{p.foto.url}}" alt="Card image cap">
                        <div class="card-body">
                            <p class="text-center"> R$: {{ p.preco|floatformat:"2"|replace:',','.'|replace('.',',') }}</p>
                            <p class="text-center">Nome: {{p.nome}}</p>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
