{% extends './static/html/base_externa.html' %}
{% load static %}

{% block titulo%}
    <title> Index </title>
{% endblock %}

{% block content %}
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../media/logo.png" alt="Primeiro Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../media/produto/perfume1.jpeg" alt="Segundo Slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../media/produto/perfume2.jpeg" alt="Terceiro Slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>

    <div class="container">
        <div class="conteudo">
            Um sistema de fácil cadastro!
        </div>
         <div class="conteudo2">
            Venha organizar seus produtos.
         </div>
        <div class="conteudo3">
            Todo seu estoque visivel com poucos cliques!
        </div>
    </div>
    <div>
        <div class="row-inline">
           <button class="btn btn-light" style="background-color: #AD77C2; color: #ffffff; text-decoration: None;"> <a  href="{% url 'login'%}" style="color= #ffffff;" >Tela de Login</a> </button>
            <button class="btn btn-light" style="background-color: #2D0651; color: #ffffff; text-decoration: None;"><a  href="{% url 'cadastro'%}">Cadastro</a> </button>
        </div>

    </div>
{% endblock %}

