{% extends './static/html/base_externa.html' %}
{% load static %}

{% block titulo%}
     <title>Login</title>
{% endblock %}

{% block content %}
        <h1>Login</h1>
        <form method="POST" action="{% url 'login' %}">{% csrf_token %}
            <div class="form-group" >
                <input class="form-control" style="border-color: #AD77C2; border-radius: 40px;" type="text" placeholder="Digite seu nome" name="nome" required>
            </div>
            <div class="form-group">
                <input class="form-control" style="border-color: #AD77C2; border-radius: 40px;" type="password" placeholder="Digite sua senha" name="senha" required>
            </div>
             <div class="text-center">
                <button class="btn btn-light" style="background-color: #AD77C2 color: white;">Logar</button>
            </div>
        </form>
    {% for message in messages%}
            <div class="alert alert-danger" role="alert">
                <strong>Error!</strong>{{message}}
            </div>
    {% endfor%}
{% endblock %}
