{% extends './static/html/base_interna.html' %}
{% load static %}

{% block titulo%}
    <title>Adicionar Produto</title>
{% endblock %}

{% block content %}
    <div class="container m-5 p-5" style="background-color: #AD77C2; border-radius: 40px;">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">

                <h1>Produtos</h1>
                <form action="{% url 'produto' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    <input type="number" class="form-control" name="produto-id" value="{{produto.id}}" hidden>
                    <br>
                    <input class="barra" style="border-color: #AD77C2; border-radius: 40px;" type="text" placeholder="nome do produto" name="nome" value="{{produto.nome}}" required>
                    <br>
                    <br>
                    <select class="barra" style="border-color: #AD77C2; border-radius: 40px;" name="categoria" required>
                         <option value="" disabled selected >Selecione uma categoria</option>
                         <option value="Cosmetico" >Cosmetico</option>
                         <option value="Perfume" >Perfume</option>
                         <option value="Higiene" >Higiene</option>
                    </select>

                     <br>
                     <br>
                     <input class="forms" type="text" style="border-color: #AD77C2; border-radius: 40px;" placeholder="Valor Ex.: 10.50" name="preco" value="{{produto.preco}}" required>
                     <br>
                     <br>
                     <input class="barra" type="text" style="border-color: #AD77C2; border-radius: 40px;" placeholder="Tamanho em ml ou g" name="tamanho" value="{{produto.tamanho}}" required>
                     <br>
                     <br>
                     <input class="photo" type="file" style="border-color: #AD77C2; border-radius: 40px; background-color: #fff;" placeholder="imagem do produto" name="file" value="{{produto.file}}" required>
                     <br>
                     <br>
                     <input class="barra" type="text" style="border-color: #AD77C2; with: 40px; height: 100px" placeholder="Descreva o produto" name="descricao" value="{{produto.descricao}}" required>
                     <br>
                     <br>
                     {% if produto %}
                        <a href="/media/{{produto.foto}}" target="_blank"> Foto atual</a>
                        <br>
                        <br>
                        <input type="submit" class="add" value="Alterar">
                     {% else %}
                        <input type="submit" class="btn btn-light" style="background-color: #2D0651; color: #fff;" value="Adicionar">
                     {% endif %}
                </form>

            </div>
        </div>

    </div>
    {% for message in messages%}
        <div class="alert alert-danger" role="alert">
            <strong>Error!</strong>{{message}}
        </div>
    {% endfor%}

{% endblock %}


