{% extends './static/html/base_interna.html' %}

{% block content %}
       <div>
           <h2 class="titulo"> Relatório</h2>
       </div>
       <div>
       <ul>
           <form method="GET" action="{% url 'relatorio' %}">
               <a href="{% url 'relatorio' %}" target="_blank" class="btn btn-primary">Gerar PDF</a>
           </form>

           {% for p in produto_filter %}
                <li>Nome: {{ p.nome }} - Categoria: {{ p.tipo }} - <img src="{{p.foto}}"></li>
           {% endfor %}
       </ul>
       </div>
{% endblock %}